{
  "location_failure_condition": {
    "name": __CONDITION_NAME__,
    "runbook_url": "empty",
    "enabled": "true",
    "entities": [
      __SYNTHETIC_MONITOR_GUIDS__
    ],
    "terms": [
      {
        "priority": "critical",
        "threshold": __THRESHOLD__
      }
    ]
  }
}
